$small: 768px;
$medium: 992px;
$large: 1200px;
$font-14: calc(1rem + 0.6vmin);
$font-16: calc(1rem + 0.8vmin);
$font-20: calc(1rem + 1vmin);
$font-25: calc(1rem + 2vmin);
$font-30: calc(1rem + 2.5vmin);
$font-60: calc(2rem + 2.5vmin);
$primary-bg: #2c3e50;
$header-bg: #2c3e50;
$footer-bg: #ff4848;
$widget-bg: #004966;
$secondary-bg:dd;
$primary-color:dd;
$secondary-color: #dc7633;

